# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment directories
env/
venv/
ENV/
VENV/
.venv/

# Environment variable files
.env
.venv/

# Django static and media files
/static/
/staticfiles/
/media/

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__pycache__/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

#db files
*.db
